@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.firstPage {
  margin: 0;
  background-image: url("https://i.ibb.co/GJbHyzF/1855534.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.mainTitle {
  text-decoration: none;
  color: black;
  position: fixed;
  bottom: 50%;
  left: 40vw;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
