@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
h1,
h2 {
  font-family: "Press Start 2P", Arial Black, Arial Bold, Arial, sans-serif;
}
h1 {
  margin-left: 0px;
}

.toUpper {
  text-transform: uppercase;
}

.pokemonCard {
  margin-top: 50px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-style: outset solid;
  border-width: 5px;
  border-color: gray;
}

.topChart {
  padding: 1px;
  display: flex;
  width: 100%;
}
.leftTopChart {
  padding: 1px;
  width: 300px;
}
.rightTopChart {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottomChart {
  border-top-style: dashed;
}
